
.text {
    width: 218px;
    height: 0px;
    color: blueviolet;
    font-size: 34px;
    margin: 0 auto;

}
.imagine {
    flex-flow: row-reverse;
    width: 800px;
    height: 532px;
    background: url("forHTML.jpg") no-repeat;
    color: yellowgreen;
    margin: 50px auto;
    font-size: 34px;
    border: 12px solid black;
    font-family: cursive inherit;
}
.button {
    width: 115px;
    height: 32px;
    margin-left: 660px;
    background-color: yellowgreen;
    outline: none;
    cursor: pointer;
    margin-top: -5px;


}
.button:hover {
    background-color: blue;
}